@media (min-width992px) {
  . {
    margin-left 0;
  }
}

@media (min-width:324px) {
  .heart_image {
    height: 60%;
    width: 100%;
  }
}

@media (min-width:1024px) {
  .heart_image {
    height: 70%;
    width: 80%;
  }
}

